.App{
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mozart-inner {
  animation: text-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.mozart-outer  {
  visibility: visible;
  animation-delay: 0.2s;
  animation-name: fadeInUp;
  
  /* animation: text-slide 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes fadeInUp {
 
  
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
    
    /* 0% { transform: translateY(-100px); }
  100% { transform: none; } */
    

}

.ud-single-feature .ud-feature-icon {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 7px;
  background: var(--primary-color);
  font-size: 32px;
  color: var(--white);
  /* position: relative; */
  z-index: 1;
  text-align: center;
  
}


.back-to-top {
  width: 50px;
  height: 50px;
  line-height: 40px;
  background: rgb(3,17,89);
  /* -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 99;
  color: var(--white);
}














/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}


.ofeed-aspect-ratio-box {
  width: 100%;
  position: relative;
  height: auto;
  display: block;
  padding-bottom: 75%;
  box-sizing: border-box
}

.ofeed-aspect-ratio-box[class*="--standard"] {
  padding-bottom: 75%
}


.ofeed-aspect-ratio-box .ofeed-image {


  position: absolute;
 
  left: 0;
  top: 0;
  color: transparent;
  margin-left: 2rem
}

@media(min-width: 37.5em) {
  .ofeed-aspect-ratio-box[class*=to-standard-from-md] {
      padding-bottom:75%
  }
}

@media(min-width: 56.25em) {
  .ofeed-aspect-ratio-box[class*=to-standard-from-lg] {
      padding-bottom:75%
  }
}

.ofeed-shoppable-image {
  position: relative;
 
 overflow: hidden;
  width:90%;
}

.ofeed-shoppable-image:hover .ofeed-shoppable-image__button,.ofeed-shoppable-image:hover .ofeed-shoppable-image__dot {
  visibility: visible;
  opacity: 1
}

.ofeed-shoppable-image:hover .ofeed-shoppable-image__area--active .ofeed-shoppable-image__tag {
  opacity: 1;
  visibility: visible;
  z-index: 1
}



.ofeed-shoppable-image__dot {
  transition: border-color 250ms ease-in-out,opacity 250ms ease-in-out,visibility 250ms ease-in-out;
  transform: translateX(-1rem) translateY(-1rem) scale(0.999);
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  position: absolute;
  background: rgba(var(--colour-static-black, 17, 17, 17), 0.2);
  opacity: 0;
  visibility: hidden;
  border-radius: 64px;
  line-height: .5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (prefers-reduced-motion: reduce) {
  .ofeed-shoppable-image__dot {
      transition: none
  }
}



.ofeed-shoppable-image__dot::after {
  content: "";
  transition: transform 250ms ease-in-out;
  position: relative;
  display: block;
  background: rgb(var(--colour-static-white, 255, 255, 255));
  box-shadow: 0 1px 4px rgba(var(--colour-static-black, 17, 17, 17), 0.55);
  width: .75rem;
  height: .75rem;
  border-radius: 64px
}

@media screen and (prefers-reduced-motion: reduce) {
  .ofeed-shoppable-image__dot::after {
      transition: none
  }
}

.ofeed-shoppable-image__dot:focus {
  border-color: rgba(var(--colour-static-white, 255, 255, 255), 0.1)
}

.ofeed-shoppable-image__dot:focus::after {
  transform: scale(0.667)
}

.ofeed-shoppable-image__dot:focus.focus-visible {
  border-color: rgba(var(--colour-static-white, 255, 255, 255), 0.5);
  background: rgba(var(--colour-static-black, 17, 17, 17), 0.4)
}
/* //ivde */
.ofeed-shoppable-image__dot:hover {
  border-color: rgba(var(--colour-static-white, 255, 255, 255), 0.5);
  background: rgba(var(--colour-static-black, 17, 17, 17), 0.4)
}
.ofeed-shoppable-image__dot:active {
  background: rgba(var(--colour-static-black, 17, 17, 17), 0.6)
}

.ofeed-shoppable-image__area--active .ofeed-shoppable-image__dot {
  border-color: rgba(var(--colour-static-white, 255, 255, 255), 0.5)
}

.ofeed-shoppable-image__area--active .ofeed-shoppable-image__dot::after {
  transform: scale(0.667)
}






.ofeed-shoppable-image__tag--top {
  transform: translateX(-50%) translateY(-100%) translateY(-1.5rem)
}






@media screen and (prefers-reduced-motion: reduce) {
  .ofeed-shoppable-image__tag-inner {
      transition: none
  }
}





.ofeed-shoppable-image__area {
  position: absolute;
}

.ofeed-shoppable-image__area--hidden {
  display: none
}

.ofeed-shoppable-image__category-link {
  position: relative;
  display: block;
  background: transparent
}

.ofeed-shoppable-image--visible-dots .ofeed-shoppable-image__button,.ofeed-shoppable-image--visible-dots .ofeed-shoppable-image__dot {
  opacity: 1;
  visibility: visible
}

.ofeed-shoppable-image--visible-dots .ofeed-shoppable-image__area--active .ofeed-shoppable-image__tag {
  opacity: 1;
  visibility: visible;
  z-index: 1
}



@media(hover: none) {
  .ofeed-shoppable-image:hover .ofeed-shoppable-image__area--active .ofeed-shoppable-image__tag,.ofeed-shoppable-image:hover .ofeed-shoppable-image__dot {
      visibility:hidden;
      opacity: 0
  }

  .ofeed-shoppable-image--visible-dots:hover .ofeed-shoppable-image__button,.ofeed-shoppable-image--visible-dots:hover .ofeed-shoppable-image__area--active .ofeed-shoppable-image__tag,.ofeed-shoppable-image--visible-dots:hover .ofeed-shoppable-image__dot {
      visibility: visible;
      opacity: 1
  }

  .ofeed-shoppable-image.ofeed-shoppable-image--hidden-dots:hover .ofeed-shoppable-image__dot {
      visibility: hidden;
      opacity: 0
  }

  .ofeed-shoppable-image__button {
      visibility: visible;
      opacity: 1
  }
}

.contactform
{
width:940px;
height:600px;
background:rgb(254,254,254,0.8);
border-radius:40px;
box-shadow:0 0 40px -10px #000;
margin:5rem auto;
padding:50px 30px;max-width:calc(100vw - 40px);
box-sizing:border-box;font-family:'Montserrat',sans-serif;
position:relative;
text-align: left;
}

.contactform h2
{
margin:5px 0;
padding-bottom:10px;

}
.contactform input
{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid rgba(0, 0, 0, 0.2)
}
.contactform textarea
{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid rgba(0, 0, 0, 0.2)
}
.contactform input:focus
{ border-bottom:2px solid #031159;
 
}

.contactform p:before
{
  content:attr(type);
  display:block;
  margin:26px 0 0;
  font-size:14px;
  color:#031159;
  border-radius:1rem;
  font-family: Quicksand;
}
.contactform button
{
  float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #031159;
  background:0;color:#334184;
  cursor:pointer;
  transition:all .3s;
  border-radius:1rem;
}
.contactform button:hover
{
  background:#031159;
  color:#fff
}


.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: linear-gradient(#d2d3db, #ebe9e9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(51, 50, 50, 0.6);
  border-radius: 10px;
}
.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: #031159;
  color: #ffffff;
  border-radius: 15px;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.imglogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 66%;
  margin-bottom: 2rem;
}

.ud-page-banner {
  padding-top: 130px;
  padding-bottom: 80px;
  background: var(--primary-color);
  background-image: url(../src/assets/img/BackBG-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}